In [37]:
import pandas as pd

In [43]:
df=pd.DataFrame({
    "Dept":["sales","sales","hr","hr","it","it"],
    "salary":[5000,5500,6000,6200,7000,7500],
    "employee":["Alice","Bob","sameer","eesa","insha","shahid"],
    "Location":["NY","LA","NY","LA","NY","LA"]
})
print(df)

    Dept  salary employee Location
0  sales    5000    Alice       NY
1  sales    5500      Bob       LA
2     hr    6000   sameer       NY
3     hr    6200     eesa       LA
4     it    7000    insha       NY
5     it    7500   shahid       LA

In [44]:
grouped=df.groupby('Dept')["salary"].mean()
print(grouped)

Dept
hr       6100.0
it       7250.0
sales    5250.0
Name: salary, dtype: float64

In [45]:
grouped=df.groupby(['Dept','Location'])['salary'].mean()
print(grouped)

Dept   Location
hr     LA          6200.0
       NY          6000.0
it     LA          7500.0
       NY          7000.0
sales  LA          5500.0
       NY          5000.0
Name: salary, dtype: float64

In [48]:
df['average_salary']=df.groupby('Dept')['salary'].transform('mean')
print(df)

    Dept  salary employee Location  average_salary
0  sales    5000    Alice       NY          5250.0
1  sales    5500      Bob       LA          5250.0
2     hr    6000   sameer       NY          6100.0
3     hr    6200     eesa       LA          6100.0
4     it    7000    insha       NY          7250.0
5     it    7500   shahid       LA          7250.0

In [49]:
df['cum_sum']=df.groupby('Dept')['salary'].cumsum()
print(df)

    Dept  salary employee Location  average_salary  cum_sum
0  sales    5000    Alice       NY          5250.0     5000
1  sales    5500      Bob       LA          5250.0    10500
2     hr    6000   sameer       NY          6100.0     6000
3     hr    6200     eesa       LA          6100.0    12200
4     it    7000    insha       NY          7250.0     7000
5     it    7500   shahid       LA          7250.0    14500

In [50]:
df['cum_prod']=df.groupby('Dept')['salary'].cumprod()
print(df)

    Dept  salary employee Location  average_salary  cum_sum  cum_prod
0  sales    5000    Alice       NY          5250.0     5000      5000
1  sales    5500      Bob       LA          5250.0    10500  27500000
2     hr    6000   sameer       NY          6100.0     6000      6000
3     hr    6200     eesa       LA          6100.0    12200  37200000
4     it    7000    insha       NY          7250.0     7000      7000
5     it    7500   shahid       LA          7250.0    14500  52500000

In [52]:
df['cum_max']=df.groupby('Dept')['salary'].cummax()
print(df)

    Dept  salary employee Location  average_salary  cum_sum  cum_prod  cum_max
0  sales    5000    Alice       NY          5250.0     5000      5000     5000
1  sales    5500      Bob       LA          5250.0    10500      5500     5500
2     hr    6000   sameer       NY          6100.0     6000      6000     6000
3     hr    6200     eesa       LA          6100.0    12200      6200     6200
4     it    7000    insha       NY          7250.0     7000      7000     7000
5     it    7500   shahid       LA          7250.0    14500      7500     7500